*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body, button, input {
  font-family: 'Nunito', sans-serif;
}
button {
  font-family: 'Nunito', sans-serif;
}
body {
  background-color: lawngreen;
 }
 
 @media (max-width: 600px) {
   body {
     background-color: lightcoral;
   }
   h1{
     font-size: 55px;
   }
   @media (max-hight: 300px) {
     body {
       background-color: lightskyblue;
     }
     
   }
 }